body {
  margin: 0;
  background-color: rgb(242, 242, 247);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.image {
  text-align: center;
}

.pdf-container{
  width: 100%;
  height: 800px;
  color: blueviolet;
  overflow-y: auto; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.error-msg {
  width: 100%;
  color: red;
  font-size: 14px;
  font-weight: 600;
}